.main {
  width: 200px;
}

.visible_block {
  display: block;
}

.unvisible_block {
  display: none;
}

.selected_type {
  content: '\2713';
  min-width: 20px;
}

.selected_type:after {
  content: '\2713';

}

.not_select {
  font-size: 1.1em;
}

.for_select {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}


.visible_caret:after {
  content: "\2B06";
  padding: 0 8px;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
}

.unvisible_caret:after {
  content: "\2B07";
  padding: 0 8px;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
}